<?xml version="1.0"?>
<launch>
    <arg name="phase" default="1"/>

    <include file="$(find eletroquad)/launch/gazebo.launch">
        <arg name="world" value="$(find eletroquad)/worlds/fase$(arg phase).world"/>
    </include>

    <include file="$(find eletroquad)/launch/clover_simulated.launch">
        <arg name="x" value="0"/>
        <arg name="y" value="0"/>
        <arg name="z" value="0.2"/>
    </include>

    <group if="$(eval phase == 0)">
        <node pkg="eletroquad" type="phase0_master.py" name="master_node0" output="screen">
            <param name="phase" value="$(arg phase)"/>
        </node>
    </group>

    <group if="$(eval phase == 1)">
        <node pkg="eletroquad" type="phase1_master.py" name="master_node1" output="screen">
            <param name="phase" value="$(arg phase)"/>
        </node>
        <node pkg="eletroquad" type="visao.py" name="Visao" output="screen"/>
    </group>

</launch>